{{> ../../templates/head }}

<body>
    {{> ../../templates/header }}

    <div class="layout-container">
        <div class="container">

            This is the content Login

        </div>
    </div>

    {{> ../../templates/footer }}
</body>

</html>