.header-component {
    height: $headerHeight;
    background-color: #171922;

    .header-container {
        height: 100%;
        @include flexPositionClasses;
    }

    .brand-wrapper {
        @include flexPosition(center, center);

        // Demo Purpose
        background-color: #3a3d50;
        color: #fff;
        font-size: 31px;
        border-radius: 5px;
        min-height: 45px;
        padding: 0 10px;

        .brand {}
    }

    // Demo Purpose
    .navigation {
        ul li a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            padding: 0 10px;
        }
    }

}