  /* main colors */
  $color-primary: #4D84F4;
  $color-primary-light: color-mod($color-primary tint(15%));
  $color-primary-dark: color-mod($color-primary shade(15%));
  $color-primary-bg: color-mod($color-primary alpha(20%));

  $color-accent: #f5414f;
  $color-accent-light: color-mod($color-accent tint(15%));
  $color-accent-dark: color-mod($color-accent shade(10%));
  $color-accent-bg: color-mod($color-accent alpha(20%));

  $black: #1d1d21;
  $gray-10: #2e2e31;
  $gray-6: #7b7a7d;
  $gray-4: #a5a5a6;
  $gray-3: #bbbbbc;
  $gray-2: #d1d0d2;
  $gray-1: #e8e7e8;
  $white: white;

  $color-success: #88c459;
  $color-error: #f5414f;
  $color-warning: #ffd137;

  $color-text: $gray-10;
  $color-text-heading: $black;
  $color-text-subtle: $gray-6;
  $color-link: $color-primary;
  $color-link-visited: $color-primary-dark;
  $color-mark: $color-accent-bg;
  $color-blockquote-border: $gray-2;

  /* border */
  $color-border: $gray-2;

  /* body */
  $color-body: $white;

  /* forms */
  $form-element-border: $color-border;
  $form-element-border-focus: $color-primary;
  $form-element-border-error: $color-error;
  $form-element-bg: $white;
  $form-text-placeholder: $gray-4;

  /* buttons */
  $btn-primary-bg: $color-primary;
  $btn-primary-hover: $color-primary-light;
  $btn-primary-active: $color-primary-dark;
  $btn-primary-label: $white;

  /* icons */
  $color-icon-primary: $gray-4;
  $color-icon-secondary: inherit;