{{> views/templates/head }}

<body>
	{{> views/templates/header }}

	<div class="layout-container">


		<div class="container">

			This is the content

		</div>



	</div>

	{{> views/templates/footer }}
</body>

</html>