{{!-- Header Component --}}

<header class="header-component">

    <div class="container header-container between">

        {{!-- Logo Wrapper --}}
        <div class="brand-wrapper">
            <span class="brand">COIN</span>
        </div>


        {{!-- Navigation --}}
        <nav class="navigation">
            <ul class="content row">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

</header>

{{!-- End of Header Component --}}